@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bgimage {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
}

.heading {
    color: #ffffff;
    text-align: center;
    background-color: #323f4b;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    font-family: Roboto;
}

.button1 {
    color: white;
    font-size: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: right;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button2 {
    color: white;
    font-size: 15px;
    text-align: left;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button3 {
    color: white;
    font-size: 15px;
    text-align: right;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button4 {
    color: white;
    font-size: 15px;
    text-align: left;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button5 {
    color: white;
    font-size: 15px;
    text-align: right;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button6 {
    color: white;
    font-size: 15px;
    text-align: left;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button7 {
    color: white;
    font-size: 15px;
    text-align: right;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: Roboto;
}

.button8 {
    background-color: #47a3f3;
}

.button9 {
    background-color: #52606d;
}